body{
    font-family:  'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

/* HEADER */

.header{
    display: flex;
    background-color: #EDBB00;
    padding: 25px 100px;
    align-items: center;
}

.header .links{
    margin-left: auto;
}
.header .text{
    font-size: 34px;
    font-weight: 500;
}

.header .links{
    display: flex;
    
    gap: 7px;
    
}
.header .links a{
    color: #0b3b6a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

/* INTRO */
.intro{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color:#EDBB00 ;
    border-top: solid 8px #A50044;
}

.intro .text{
    
    font-size: 130px;
    font-style: italic;
    color: #DB0030;
    font-family: 'Press Start 2P', cursive;
    margin-right: 30px;
    padding: 40px;
}

.intro .photo img{
     
    width: 500px;
    height: 400px;
    border: solid 2px #A50044;
    border-radius: 10px;
}

.intro .left .text{
    display: flex;
    
}

.intro .left .text .letter{
    font-size: 130px;
    font-style: italic;
    color: #DB0030;
    font-family: 'Press Start 2P', cursive;
    margin-right: 30px;
    
}

.intro .left .text .letter:hover{
    font-size: 130px;
    font-style: italic;
    color: #004D98;
    font-family: 'Press Start 2P', cursive;
    margin-right: 30px;
    
}


/* VIDEO */

.video-section{
    border-top:solid 8px #A50044;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #004D98;
    
}

.video-section .video{
    border: solid 10px #EDBB00;
    
    
}

/* MENU */

.menu{
background-color: #004D98;
border-top:solid 8px #A50044;
}

ul{
    padding: 40px;
    
    font-family: 'Press Start 2P', cursive;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 40px;
    
}
    /* unvisited link */
    ul a:link {
        color: #DB0030;
        text-decoration: none;
    }
    
    /* visited link */
    ul a:visited {
        color: #DB0030;
    }
    
    /* mouse over link */
    ul a:hover {
        color: #EDBB00;
    }
    
    /* selected link */
    ul a:active {
        color: blue;
    }


    /* MAIN */
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #004D98;
    }
    .main .title{
        font-family: 'Press Start 2P', cursive;
        font-size: 70px;
        padding: 24px;
       
    }

    .main ul  {
        font-size: 50px;
        
    }

    .main ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 120px;
        background-color: #DB0030;
    }